
<div id="addPage">
    <h2>Add a Book!</h2>

    <form id="addBookForm" action="/add" method="POST">

        <label>Book Title: </label><input align="left" class="addForm" type="text" name="title" value=""><br/>

        <label>Author: </label><input align="left" class="addForm" type="text" name="author" value=""><br/>

        <label>Rating (1 - 10):</label><input align="left" class="addForm" type="text" name="rating" value=""><br/>

        <label>Review: </label><input align="left" class="addForm" type="text" name="review" value=""><br/>

        <br/><input id="addBtn" type="submit" name="" value="Submit">

    </form>
</div>