<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Booky!</title>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

    <div id="banner">
        <img id="stack" src="../images/books.png" width="100px" height="100px"/>
        <h1>Booky!</h1>
        <h3>A book tracking and review site.</h3>
    </div>

    <div id="navbar" >
        <h3 class="nav"><a href="/">My Library</a></h3>
        <h3 class="nav"><a href="/favorites">My Favorites</a></h3>
        <h3 class="nav"><a href="/bookmarked">My Bookmarked</a></h3>
        <h3 class="nav"><a href="/add">Add a Book!</a></h3>
    </div>


    <div>

        {{{body}}}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>